<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YTU Embedded Systems Meteorology App - Monitor</title>


    <link href="{{url_for('static',filename='css/bootstrap.min.css')}}" rel="stylesheet">
    <script src="{{url_for('static',filename='js/bootstrap.bundle.min.js')}}" ></script>
    <script src="{{url_for('static',filename='js/jquery-3.3.1.min.js')}}" ></script>


</head>

<body style="font-family: Helvetica">


    <div class="container">
        <div class="row">
            <br>
            <br>
        </div>
        <div class="row">
            <div class="card col-md-12">
                <div class="well well-sm">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <br>
                            <br>
                            <h2 class="rating-num">
                                Raspberry Pi Meteorology App Monitor Dashboard
                            </h2>
                            <h4>
                                Latest Connection : <span id="latest_date">No value found! Check your connection</span>
                            </h4>
                            <br>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="card col-md-4">
                <br>
                <div class="well well-sm shadow p-3 mb-5 bg-white rounded">
                    <div class="row">

                        <div class="col-md-12">

                            <!-- HERE IT IS CHART -->
                            <div id="charttemp" style="height: 360px; width:100%;"></div>

                            <!-- end row -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="card col-md-4">
                <br>
                <div class="well well-sm shadow p-3 mb-5 bg-white rounded">
                    <div class="row">

                        <div class="col-md-12">

                            <!-- HERE IT IS CHART -->
                            <div id="charthumidity" style="height: 360px; width:100%;"></div>

                            <!-- end row -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="card col-md-4">
                <br>
                <div class="well well-sm shadow p-3 mb-5 bg-white rounded">
                    <div class="row">

                        <div class="col-md-12">

                            <!-- HERE IT IS CHART -->
                            <div id="chartBmpPressure" style="height: 360px; width:100%;"></div>

                            <!-- end row -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card col-md-4">
                <br>
                <div class="well well-sm shadow p-3 mb-5 bg-white rounded">
                    <div class="row">

                        <div class="col-md-12">

                            <!-- HERE IT IS CHART -->
                            <div id="chartlux" style="height: 360px; width:100%;"></div>

                            <!-- end row -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="card col-md-4">
                <br>
                <div class="well well-sm shadow p-3 mb-5 bg-white rounded">
                    <div class="row">

                        <div class="col-md-12">

                            <!-- HERE IT IS CHART -->
                            <div id="charIsRaining" style="height: 360px; width:100%;"></div>

                            <!-- end row -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="card col-md-4">
                <br>
                <div class="well well-sm shadow p-3 mb-5 bg-white rounded">
                    <div class="row">

                        <div class="col-md-12">

                            <!-- HERE IT IS CHART -->
                            <div id="chartGasLeak" style="height: 360px; width:100%;"></div>

                            <!-- end row -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card col-md-4">
                <br>
                <div class="well well-sm shadow p-3 mb-5 bg-white rounded">
                    <div class="row">

                        <div class="col-md-12">

                            <!-- HERE IT IS CHART -->
                            <div id="chartBmpSeaLevelTemp" style="height: 360px; width:100%;"></div>

                            <!-- end row -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="card col-md-4">
                <br>
                <div class="well well-sm shadow p-3 mb-5 bg-white rounded">
                    <div class="row">

                        <div class="col-md-12">

                            <!-- HERE IT IS CHART -->
                            <div id="chartBmpAltitude" style="height: 360px; width:100%;"></div>

                            <!-- end row -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="card col-md-4">
                <br>
                <div class="well well-sm shadow p-3 mb-5 bg-white rounded">
                    <div class="row">

                        <div class="col-md-12">

                            <!-- HERE IT IS CHART -->
                            <div id="chartBmpTemp" style="height: 360px; width:100%;"></div>

                            <!-- end row -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>



    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
        integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
        crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8">
        var arrLux = [];
        var arrTemp = [];
        var arrIsRaining = [];
        var arrGasLeak = [];
        var arrHumidity = [];
        var arrBmpPressure = [];
        var arrBmpSeaLevelTemp = [];
        var arrBmpAltitude = [];
        var arrBmpTemp = [];

        var dataLength = 10; // MAX DATA POINTS


        // humidity
        var xHumidityVal = 0;
        var yHumidityVal = 100;
        var chartHumidity = new CanvasJS.Chart("charthumidity", {
            animationEnabled: true,
            zoomEnabled: true,
            title: {
                text: "Humidity (%0-100)"
            },
            data: [{
                type: "line",
                dataPoints: arrHumidity
            }]
        });


        // is raining
        var xWLevelVal = 0;
        var yWLevelVal = 100;
        var charIsRaining = new CanvasJS.Chart("charIsRaining", {
            animationEnabled: true,
            zoomEnabled: true,
            title: {
                text: "Is Raining (0-1)"
            },
            data: [{
                type: "line",
                dataPoints: arrIsRaining
            }]
        });

        // gas leak
        var xWTempVal = 0;
        var yWTempVal = 100;
        var chartGasLeak = new CanvasJS.Chart("chartGasLeak", {
            animationEnabled: true,
            zoomEnabled: true,
            title: {
                text: "Gas Leak (0-1)"
            },
            data: [{
                type: "line",
                dataPoints: arrGasLeak
            }]
        });

        // pressure
        var xAirVal = 0;
        var yAirVal = 100;
        var chartBmpPressure = new CanvasJS.Chart("chartBmpPressure", {
            animationEnabled: true,
            zoomEnabled: true,
            title: {
                text: "Pressure (0-1000) "
            },
            data: [{
                type: "line",
                dataPoints: arrBmpPressure
            }]
        });

        // lux
        var xLuxVal = 0;
        var yLuxVal = 100;
        var chartLux = new CanvasJS.Chart("chartlux", {
            animationEnabled: true,
            zoomEnabled: true,
            title: {
                text: "Lux Sensor (0-100)"
            },
            data: [{
                type: "line",
                dataPoints: arrLux
            }]
        });

        // dht temp
        var xTempVal = 0;
        var yTempVal = 100;
        var chartTemp = new CanvasJS.Chart("charttemp", {
            animationEnabled: true,
            zoomEnabled: true,
            title: {
                text: "Temperature Sensor (*C - 0-100)"
            },
            data: [{
                type: "line",
                dataPoints: arrTemp
            }]
        });

        // bmp sea level temp
        var xBmpSeaLevelTempVal = 0;
        var yBmpSeaLevelTempVal = 100;
        var chartBmpSeaLevelTemp = new CanvasJS.Chart("chartBmpSeaLevelTemp", {
            animationEnabled: true,
            zoomEnabled: true,
            title: {
                text: "BMP Sea Level Temp (*C - 0-100)"
            },
            data: [{
                type: "line",
                dataPoints: arrBmpSeaLevelTemp
            }]
        });

        // bmp altitude
        var xBmpAltitudeVal = 0;
        var yBmpAltitudeVal = 100;
        var chartBmpAltitude = new CanvasJS.Chart("chartBmpAltitude", {
            animationEnabled: true,
            zoomEnabled: true,
            title: {
                text: "BMP Altitude (0-100)"
            },
            data: [{
                type: "line",
                dataPoints: arrBmpAltitude
            }]
        });

        // bmp temp
        var xBmpTempVal = 0;
        var yBmpTempVal = 100;
        var chartBmpTemp = new CanvasJS.Chart("chartBmpTemp", {
            animationEnabled: true,
            zoomEnabled: true,
            title: {
                text: "BMP Temperature (*C - 0-100)"
            },
            data: [{
                type: "line",
                dataPoints: arrBmpTemp
            }]
        });

        /* 
                        'temp': temp,
            'humidity': humidity,
            'pressure': pressure,
            'lux': lux,
            'is_raining': is_raining,
            'gas_leak': gas_leak,
            'bmp_temp': bmp_temp,
            'bmp_pressure': bmp_pressure,
            'bmp_altitude': bmp_altitude,
            'bmp_sealevel_pressure': bmp_sealevel_pressure
            */
        var updateChartsNewValue = function ( val_dhtTemp,val_dhtHumidity, 
         val_lux, 
         val_isRaining, 
         val_gasLeak, 
         val_bmtSeaPressure, 
         val_BmpAltitude,
         val_BmpPressure,
         val_BmpTemp
         ) {
            // humidity
            arrHumidity.push({
                x: xHumidityVal,
                y: val_dhtHumidity
            });
            xHumidityVal++;
            if (arrHumidity.length > dataLength) {
                arrHumidity.shift();
            }

            // gas leak
            arrGasLeak.push({
                x: xWTempVal,
                y: val_gasLeak
            });
            xWTempVal++;
            if (arrGasLeak.length > dataLength) {
                arrGasLeak.shift();
            }

            // is raining
            arrIsRaining.push({
                x: xWLevelVal,
                y: val_isRaining
            });
            xWLevelVal++;
            if (arrIsRaining.length > dataLength) {
                arrIsRaining.shift();
            }

            // bmp pressure
            arrBmpPressure.push({
                x: xAirVal,
                y: val_BmpPressure
            });
            xAirVal++;
            if (arrBmpPressure.length > dataLength) {
                arrBmpPressure.shift();
            }

            // dht temp
            arrTemp.push({
                x: xTempVal,
                y: val_dhtTemp
            });
            xTempVal++;
            if (arrTemp.length > dataLength) {
                arrTemp.shift();
            }

            // lux
            arrLux.push({
                x: xLuxVal,
                y: val_lux
            });
            xLuxVal++;
            if (arrLux.length > dataLength) {
                arrLux.shift();
            }

            // bmp sea level temp
            arrBmpSeaLevelTemp.push({
                x: xBmpSeaLevelTempVal,
                y: val_bmtSeaPressure
            });
            xBmpSeaLevelTempVal++;
            if (arrBmpSeaLevelTemp.length > dataLength) {
                arrBmpSeaLevelTemp.shift();
            }

            // bmp altitude
            arrBmpAltitude.push({
                x: xBmpAltitudeVal,
                y: val_BmpAltitude
            });
            xBmpAltitudeVal++;
            if (arrBmpAltitude.length > dataLength) {
                arrBmpAltitude.shift();
            }

            // bmp temp
            arrBmpTemp.push({
                x: xBmpTempVal,
                y: val_BmpTemp
            });
            xBmpTempVal++;
            if (arrBmpTemp.length > dataLength) {
                arrBmpTemp.shift();
            }



            // update charts
            chartBmpPressure.render();
            chartLux.render();
            chartTemp.render();
            chartHumidity.render();
            charIsRaining.render();
            chartGasLeak.render();
            chartBmpSeaLevelTemp.render();
            chartBmpAltitude.render();
            chartBmpTemp.render();
            $('#latest_date').text(new Date().toISOString());
            let message = "No Content";
            
            $('#txtresult').text(message);
        };

        var socket = io();
        socket.on('connect', function () {
            console.log("Connected sto admin dasboard server.");
        });

        // update sensor values
        socket.on('new-values', function (data) {
            $('#txtdate').text(latest_date);
            console.log(data);
            updateChartsNewValue(data.temp, data.humidity, data.lux, data.is_raining, data.gas_leak, data.bmp_sealevel_pressure, data.bmp_altitude, data.bmp_pressure, data.bmp_temp);
        });

        /* Deneme modunu kapatmak icin asagi baslangic ve bitis kismini yorum satirina aliniz */
        // SET INTERVAL BASLANGIC
        /*setInterval(() => {
            updateChartsNewValue(
                Math.floor(Math.random() * 100),
                Math.floor(Math.random() * 40),
                Math.floor(Math.random() * 80),
                Math.floor(Math.random() * 100),
                Math.floor(Math.random() * 400),
                Math.floor(Math.random() * 80),
                Math.floor(Math.random() * 15)
            );
        }, 2000);
        */
        // SET INTERVAL BITIS
    </script>



</body>

</html>